body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background : linear-gradient(grey, #183a3b, grey);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background : linear-gradient(grey, #c4f1f3, grey);
  padding: 2px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px; /* Set your preferred height for the logo */
}

.logo-text {
  margin-left: 10px; /* Adjust the spacing between the logo and the text */
  display: flex;
  flex-direction: column;
}

.logo-text .top-text {
  font-size: 10px; /* Set the font size for the top text */
}

.logo-text .bottom-text {
  font-size: 10px; /* Set the font size for the bottom text */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 auto;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 5px;
  position: relative;
}

nav a:hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px; /* Set the height of the hover block effect */
  background-color: #007bff; /* Set the color of the hover block effect */
  color : #fff;
}

/* Header styles (same as before) */

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 350px; /* Set your desired max-width for the slider */
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 10%;
}

.slider {
  display: flex;
  width: 100%;
  height: 100%;
}

.slider img {
  width: 100%;
  height: auto;
}

/* You can add additional styling to the slider-container or images if needed */
/* Footer styles */
footer {
  text-align: center;
  font-size: 9px;
  margin-top: 100%;
  margin-bottom: auto;
  padding: 4px 10px;
  background : linear-gradient(grey, #c4f1f3, grey);
  border-top: 1px solid #ddd;
}

footer a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

footer a:hover {
  color: #333;
}