
/* CSS for styling the header */
header {
  background-color: transparent; /* Background color for the header */
  color: #0e0d0d; /* Text color for the header */
  padding: 10px; /* Padding around the content in the header */
  text-align: center; /* Center-align the content */
}

/* CSS for styling the logo image */
.logo {
  max-width: 100px; /* Set the maximum width of the logo */
  height: auto; /* Maintain the aspect ratio of the logo */
}
body{
    background-image: url('img/f-shape1.png');
    background-size: cover;
    background-position: center;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 100px 0; /* Adjust padding as needed */
}

/* Container Styles */
.container {
  text-align: center;
}

/* Button Styles */
.button {
  width: 350px;
  background-color: rgba(168, 168, 163, 0.836);
  border: none;
  color: #333;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 0;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s, transform 0.3s;
  border: 2px solid #333;
}

/* Hover Effect */
.button:hover {
  background-color: #414641;
  color: #fff;
  transform: scale(1.05);
}

/* Form Styles */
.form {
  width: 350px;
  text-align: center;
  display: none;
}

/* Form Input Styles (optional) */
.form input {
  width: 80%; /* Adjust as needed */
  padding: 10px;
  margin: 5px;
  border: 1px solid #753759;
  border-radius: 4px;
}
.wtsp_chat {    width: fit-content;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 8;}
.wtsp_chat img {width: 57px;
    height: auto;
    margin: 10px;}
 
body{
    background-image: url('img/f-shape1.png');
    background-size: cover;
    background-position: center;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 5px 0; /* Adjust padding as needed */
}

/* Container Styles */
.container {
  text-align: center;
}

/* Button Styles */
.button {
  width: 350px;
  background-color: rgba(168, 168, 163, 0.836);
  border: none;
  color: #333;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s, transform 0.3s;
  border: 2px solid #333;
}

/* Hover Effect */
.button:hover {
  background-color: #414641;
  color: #fff;
  transform: scale(1.05);
}

/* Form Styles */
.form {
  width: 100%;
  text-align: center;
  display: none;
}

/* Form Input Styles (optional) */
.form input {
  width: 80%; /* Adjust as needed */
  padding: 10px;
  margin: 5px;
  border: 1px solid #753759;
  border-radius: 4px;
}
.wtsp_chat {    width: fit-content;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 8;}
.wtsp_chat img {width: 57px;
    height: auto;
    margin: 10px;}